div{
    margin: 0;
    padding: 0;
}

div div{
    background-color: black;
    position: relative;
}

#list {
    list-style-type: none;
    display: inline;
}    

li{
    float: right;
}

.gmail{
    font-family: arial;
}

.pictures{
font-family: arial;    
}

.apps{
    height: 30px;
    width: 30px;
}

.bell{
    height: 30px;
    width: 30px;
}

.signin{
    background-color: #3399ff;
    border-color: transparent;
    color: white;
    height: 30px;
    width: 80px;
   
    
}

.logo{
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}

.searchbar{
    margin-left: auto;
    margin-right: auto;
    width: 550px;
}

#searchb{
    height: 30px;
    width: 528px;
    border-color: #f2f2f2;
}
#buttons{
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    
}

#searchbut{
    background-color: #f2f2f2;
    font-family: arial;
    border-color: transparent;
    padding: 8px 30px;
    color: #404040;
}

#lucky{
    background-color: #f2f2f2;
    border-color: transparent;
    font-family: arial;
    font-weight: normal;
    padding: 8px 30px;
    color: #404040;

}