div{
    margin: 0;
    padding: 0;
}

div div{
    background-color: black;
    position: relative;
}

#list {
    list-style-type: none;
    display: inline;
}    

.li{
    display: inline;
}

.gmail{
    font-family: arial;
}

.pictures{
font-family: arial;    
}

.apps{
    height: 30px;
    width: 30px;
}

.bell{
    height: 30px;
    width: 30px;
}

.signin{
    background-color: #3399ff;
    
}

.logo{
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}

.searchbar{
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}

.buttons{
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}
